/* *{
  margin: 0;padding: 0;
  box-sizing: border-box;
} */

#main{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://media.istockphoto.com/id/641755936/photo/we-all-passed.jpg?s=612x612&w=0&k=20&c=G5olpS36h32P7dLABkIkRKMwDkRqw0Bp4pMGR6ACR20=");
    background-position: center;
    background-size: cover;
    position: absolute;
  }
  
  #input{
    width: 25rem;
    height: 28rem;
    box-shadow: 10px 10px 15px rgba(107, 146, 142, 0);
    position: relative;
    margin: 8% auto;
    font-weight: bolder;
    background-color: #eef5f100;
    padding: 10px;
    color: rgb(253, 243, 223);
    text-align: center;
  }
  
  input{
    font-weight: bolder;
    background-color: rgba(0,0,0,0.8);
    color: rgb(255, 255, 255);
    border: none;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgb(255, 255, 255);
    border-radius: 9px;
  }
  
  p{
    margin-top: 15px;
  }